body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

#datetime {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #555;
}

.city-selector {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#city-select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#confirm-city-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirm-city-btn:hover {
  background-color: #005fa3;
}

#weather {
  margin: 20px 0;
  font-size: 1.2rem;
  font-style: italic;
  color: #007acc;
}

#task-list {
  margin-top: 30px;
}

#tasks {
  list-style-type: none;
  padding: 0;
}

#tasks li {
  background-color: #f9f9f9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  font-size: 1rem;
  width: calc(100% - 30px);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

input[type="time"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  width: calc(100% - 30px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}
